<h1>About</h1>
<p>
		<%= link_to	"One Month Rails", "Http://onemonthrails.com" %>
		this is a project to teach
		<%= link_to "Ruby on Rails", "Http://rubyonrails.org" %>
		in one month. This is te sample application
</p>

